<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.Js and Express</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Star Wars Film Site</h1></a>
            <p>A long time ago...</p>
        </div>
        <ul>
            <li><a href="/">Movies</a></li>
            <li><a  href="/about">About</a></li>
            <li><a href="/blogs/create">Films</a></li>
        </ul>
    </nav>
  
    <div class="film content">
        <h2>All the Films</h2>
    </div>
</body>
</html>